@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  /* Default text font */
}



.ant-typography {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px !important;

}

.ant-typography h1,
.ant-typography h2,
.ant-typography h3,
.ant-typography h4,
.ant-typography h5,
.ant-typography h6 {
  font-family: 'Poppins', sans-serif !important;
}



.checkbox-req .ant-form-item {
  margin-bottom: 0px !important;
}

.go-back {
  font-size: 14px;
  height: 32px;
  padding: 0px 27px !important;
  border-radius: 40px !important;
}

.ant-btn-default:hover {
  border: 1px solid #4A67B3 !important;
  color: #4A67B3 !important;
}